EXPO_PUBLIC_FIREBASE_API_KEY=replace_me
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=replace_me
EXPO_PUBLIC_FIREBASE_PROJECT_ID=replace_me
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=replace_me
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=replace_me
EXPO_PUBLIC_FIREBASE_APP_ID=replace_me
# Observability
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0
EXPO_PUBLIC_APP_ENV=development

SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=